* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #040c1a;
}

.header {
    background-color: #020a18;
}

.header {
    padding-top: 39;
    padding-bottom: 39;
}

.top_content {
    margin-top: 160px;
    margin-bottom: 197px;
}

.main-subtitle {
    margin-bottom: 10px;
}

.main-title {
    margin-bottom: 40px;
}

.main-dsc {
    text-align: center;
}

.button-box {
    margin-top: 50px;
}
