* {
    margin: 0;
    padding: 0;
}

p {
    color: #5D5D5D;
}

.center {
    padding-left: calc(50% - 50vw);
    padding-right: calc(50% - 50vw);
}

.all {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    max-width: 100vw;
}

.header {
    min-height: 8vh;
    width: 100vw;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.header_logos {
    display: flex;
    align-items: center;
    gap: 33px;
    padding-left: 10%;
}

.menu {
    display: flex;
    align-items: center;
    gap: 33px;
    padding-right: 10%;
}

.background {
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.background_image {
    width: 50%;
}

.background_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.rectangle {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
}

.background_logo_text {
    padding-left: 1vh;
}

.background_logo_text_big {
    font-weight: 900;
    font-size: 6vh;
    line-height: 6vh;
}

.background_logo_text_normal {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 4vh;
    line-height: 4vh;
}

.fashion {
    padding-left: 6px;
}

.pinktext {
    color: #F16D7F;
}

.offer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 18vw);
    grid-template-rows: 20vh 14vh;
    gap: 30px;
    padding: 5% 21.9%;
}

.offer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer_content_women {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/woman.svg);
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(60%);
}

.offer_content_men {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/man.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.offer_content_kids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/kids.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.offer_content_big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    background-image: url(./img/accesories.svg);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100vw;
}

.offer_content_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.products_list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 18vw);
    grid-template-rows: 10vh repeat(2, 41vh) 10vh;
    gap: 30px;
    padding: 0% 21.9%;

}

.product {
    background: #F8F8F8;
}

.product_image{
    display: flex;
    justify-content: center;
    width: 18vw;
    height: 31vh;
}

.products_list_header_info {
    grid-column: 1 / 4;
    grid-row: 1;
    text-align: center; 
    max-height: 300px;

}

.products_info {
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.product_price {
    color: #F16D7F;
}

.products_button {
    grid-column: 2;
    grid-row: 4;
    max-width: 212px;
    max-height: 48px;
    margin-left: 23%;
    justify-content: center;
    border-color: #FF6A6A;
    background-color: #FFFFFF;
    color: #FF6A6A;
}

@media screen (min-width: 768px) and (max-width: 1024px){
    .all {
        flex-wrap: wrap;
      }
    
    .header {
        width: 100%;
        margin-bottom: 2%;
      }
    
    .item-parent {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    
    .background {
        margin-bottom: 0;
      }
    
    
    .offer {
        flex-wrap: wrap;
        grid-column: auto;
      }
}